body {
  background: url("../img/taipei-bg.jpg") top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  color: #FFF;
  font-family: helvetica;
}
img {
	height: 100%;
	width: 100%;
}
.duck-container {
	width: 84px;
	height: 63px;
	margin: 0 auto;
	animation: float 5s infinite;
	-webkit-animation: float 5s infinite;
	-moz-animation: float 5s infinite;
}
.robot {
  position: relative;
  left: 200px;
}

.beep {
  width: 5px;
  height: 0;
  border: 5px solid transparent;
  border-top: 10px solid #777;
  border-bottom: 80px solid #888;
  position: relative;
  left: 140px;
}
.brain {
  background: radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #cc5; 
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px solid #666;
  position: relative;
  left: 70px;
}
.torso {
  height: 0;
  width: 140px;
  border-top: 300px solid #bc6;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
}
.left {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  position: relative;
  top: -320px;
  left: -190px;
  z-index: -1;
}
.right {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: scaleY(-1) rotate(20deg);
  -webkit-transform: scaleY(-1) rotate(20deg);
  -moz-transform: scaleY(-1) rotate(20deg);
  position: relative;
  top: -620px;
  left: 190px;
  z-index: -1;
}
.foot {
  height: 40px;
  width: 40px;
  background: #ccc;
  border-radius: 40px;
  border: 15px solid #999;
  position: relative;
  left: 110px;
  top: -10px;
  z-index: -1;
}
.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #000;
}

@keyframes float {
	0%   {transform: rotateZ(10deg);}
	50% {transform: rotateZ(-10deg);}
	100% {transform: rotateZ(10deg);}
}
@-webkit-keyframes float /* Safari and Chrome */
{
	0%   {-webkit-transform: rotateZ(10deg);}
	50% {-webkit-transform: rotateZ(-10deg);}
	100% {-webkit-transform: rotateZ(10deg);}
}
@-moz-keyframes float /* Firefox */
{
	0%   {-moz-transform: rotateZ(10deg);}
	50% {-moz-transform: rotateZ(-10deg);}
	100% {-moz-transform: rotateZ(10deg);}
}
