body {
  background: url("../img/taipei-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  color: #FFF;
  font-family: helvetica;
}