body {
  text-align: center;
  background: url("../img/taipei-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
  font-family: helvetica;
}
a {
  color: #FFF;
}
img {
  border: 7px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}
span {
  font-size: 22px;
  padding: 5px;
  margin: 5px;
  background: radial-gradient(ellipse, black 50%, transparent 88%);
  /*background: rgba(0, 0, 0, 0.5);*/
  border-radius: 100px;
  color: #FFF;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: red;
  color: white;
}